.homepage {

  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .search-bar {
      display: flex;
      border: 1px solid rgb(217, 217, 217);
      // padding: 13px 40px 10px 40px;
      border-radius: 40px;

      .search-item {
        display: flex;
        position: relative;

        &:hover {
          background-color: #ebebeb;
          border-radius: 40px;
          cursor: pointer;

          .search-item-last-div {
            width: 0px;
          }
        }


        .search-paragraph-and-input{
        width: 250px;
        // margin: 0 12px;
        padding: 10px 40px;

        .search-paragraph{
          font-size: 11px;
          margin-bottom: 0;
          font-weight: 600;
          color: #323232;
        }

      .search-input {
        border: none;
        font-size: 13px;
        padding-left: 0;
        background-color: transparent;
        outline: none;
        }
      }

        .search-item-last-div{
          content: '';
          position: absolute;
          top: 12px;
          right: 0;
          bottom: 12px;
          width: 1px;
          background-color: #ccc;
        }
      }


      .search-icon {
        background-color:#ff395c;
        width: 60px;
      }

    }

  }

  .categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .single-category-container {

      &:hover {
        .category-image-div {
          opacity: 1;
        }
        .category-button {
          color:black;
          border-bottom: 2px solid #c3c2c2;
        }
      }

      .category-image {
        display: flex;
        justify-content: center;
        }

      .category-image-div {
        width: 25px;
        height: 25px;
        background-position: center;
        background-size: cover;
        opacity: 0.5;

      }

    .category-button {
      font-size: 13px;
      padding-bottom: 10px;
      margin: 7px 14px;
      font-weight: 500;
      background-color: white;
      border: none;
      color: #606060;
      // to ensure that the 'places-container' does not shift downwards when a category is hovered:
      border-bottom: 2px solid transparent; 
      transition: border-bottom 0.2s ease;
    }
  }
  }

  .places-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  .place-card {
    .image-container {
      border-radius: 8px;
      overflow: hidden;
      width: 320px;

      .image-div {
        width: 100%;
        height: 290px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .location-title {
      margin-bottom: 0;
    }
    .price-line {
      margin-bottom: 0;
      .price-text {
        font-weight: bold;
      }
    }
  }
}
